@font-face {
  font-family: iconfont;
  src: url(/assets/iconfont/iconfont.eot);
  src: url(/assets/iconfont/iconfont.eot#iefix) format('embedded-opentype'),
    url(/assets/iconfont/iconfont.woff) format('woff'),
    url(/assets/iconfont/iconfont.ttf) format('truetype'),
    url(/assets/iconfont/iconfont.svg#iconfont) format('svg');
}

[class*=' icon-'],
[class^='icon-'] {
  font-family: iconfont !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: '\E600';
}

.icon-facebook:before {
  content: '\E601';
}

.icon-clock:before {
  content: '\E602';
}

.icon-mail:before {
  content: '\E609';
}

.icon-link:before {
  content: '\E6AB';
}

.icon-search:before {
  content: '\E65B';
}

.icon-smile:before {
  content: '\E64A';
}

.icon-roundrightfill:before {
  content: '\E65A';
}

.icon-list:before {
  content: '\E682';
}

.icon-book:before {
  content: '\E6FE';
}

.icon-home:before {
  content: '\E6BB';
}

.icon-share:before {
  content: '\E618';
}

.icon-back:before {
  content: '\E625';
}

.icon-qq:before {
  content: '\E62D';
}

.icon-weibo:before {
  content: '\E619';
}

.icon-segmentfault:before {
  content: '\E603';
}

.icon-sort:before {
  content: '\E700';
}

.icon-jianshu:before {
  content: '\E613';
}

.icon-circle-left:before {
  content: '\E71F';
}

.icon-circle-right:before {
  content: '\E720';
}

.icon-loading:before {
  content: '\E614';
}

.icon-acfun:before {
  content: '\E604';
}

.icon-close:before {
  content: '\E60C';
}

.icon-tumblr:before {
  content: '\E6B0';
}

.icon-calendar:before {
  content: '\E667';
}

.icon-rss:before {
  content: '\E877';
}

.icon-price-tags:before {
  content: '\E6F9';
}

.icon-quo-left:before {
  content: '\E7F5';
}

.icon-quo-right:before {
  content: '\E7F6';
}

.icon-back1:before {
  content: '\E64E';
}

.icon-github:before {
  content: '\E735';
}

.icon-film:before {
  content: '\E7B7';
}

.icon-weixin:before {
  content: '\E61F';
}

.icon-qzone:before {
  content: '\E680';
}

.icon-category:before {
  content: '\E605';
}

.icon-douban:before {
  content: '\E64C';
}

.icon-roundleftfill:before {
  content: '\E799';
}

.icon-tuding:before {
  content: '\E651';
}

.icon-zhihu:before {
  content: '\E61B';
}

.icon-linkedin:before {
  content: '\E6D4';
}

.icon-google:before {
  content: '\E635';
}

.icon-plane:before {
  content: '\E62F';
}

.icon-bilibili:before {
  content: '\E622';
}

.icon-psn:before {
  content: '\E6C7';
}
